/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #E2DADB;
  color: white;
}

.hide{
  display: none;
}

/* STYLE */

.main-wrapper{
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.jt-container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 80%;
}

/* Slider */

.slider{
  /* float:; */
  width: 100%;
  height: 80%;
}

.items-wrapper{
  width: 100%;
  height: 100%;
}

.item img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.item{
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.item.active{
  display: block;
}

.city-informations {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  left: 16px;
  height: 100px;
  width: 200px;
  align-items:center;
  justify-content:center;
}

/* Thumbs */

.thumbs{
  position: relative;
  display: flex;
  float: left;
  width: 100%;
  height: 20%;
  background-color: black;
}

.thumbs img{
  width: calc(100% / 5);
  height: 100%;
  object-fit:cover;
  opacity: .5;
}

.thumbs img.active{
  opacity: 1;
  border: 2px solid white;
}

/* Buttons */

.jt-buttons{
  position: absolute;
  bottom: 50px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  z-index: 100;
}

.btn-arrow{
  cursor: pointer;
  background-color: rgba(0, 0, 0, .15);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  z-index: 100;
}

.btn-arrow:hover{
  color: #E9D758;
  background-color: white;
}

.btn-arrow.left{
  margin-left: 50px;
}

.btn-arrow.right{
  margin-right: 50px;
}
